#parent td {
	min-width: 25%;
	width: 25%;
	max-width: 25%;
}
#parent .large td {
	min-width: 50%;
	width: 50%;
	max-width: 50%;
}

#upgradeCanvas {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -999;
}

#parent .verylarge td {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
}
.button {
	background: #F2F2F2;
	height: auto;
	line-height: 21px;
	text-align: center;
	width: auto;
	border: 1px solid #127A20;
	border-radius: 4px;
	padding: 5px;
	color: #000000;
	transition-duration: 0.2s;
}
.button:hover {
    color: #FFFFFF;
    background: #5AC467;
}
.buttonlocked {
	background: #A3A3A3;
	height: auto;
	line-height: 21px;
	text-align: center;
	width: auto;
	border: 1px solid #B84B5F;
	border-radius: 4px;
	padding: 5px;
	color: #000000;
	transition-duration: 0.2s;
}
.buttonlocked:hover {
    color: #000000;
    background: #B84B5F;
}
.tab {
	display: none
}
.buttonbought {
	color: #FFF;
	background: #5AC467;
	height: auto;
	line-height: 21px;
	text-align: center;
	width: auto;
	border: 1px solid #127A20;
	border-radius: 4px;
	padding: 5px;
	color: #000000;
	transition-duration: 0.2s;
}
.buttonbought:hover {
	border-color: #5AC467;
}
.upgradebtn {
	width: 170px;
        height: 80px;
}
.achbtn{
	width: 120px;
	height: 80px;
}
